name: on-push

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ '{{ github.workflow }}' }}-${{ '{{ github.ref }}' }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.x
    - uses: pre-commit/action@v3.0.0

  unit-tests:
    name: unit-tests (3.10)
    runs-on: ubuntu-latest
    outputs:
      run_integration_tests: ${{ '{{ steps.check_files.outputs.files_exists }}' }}

    steps:
    - uses: actions/checkout@v3
    - name: Check integration environment existence
      id: check_files
      uses: andstor/file-existence-action@v2
      with:
        files: environment-integration.yml
    - name: Install Conda environment with Micromamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: environment.yml
        environment-name: DEVELOP
        channels: conda-forge
        cache-env: true
        extra-specs: |
          python=3.10
    - name: Install package
      run: |
        python -m pip install --no-deps -e .
    - name: Run tests
      run: |
        make unit-tests COV_REPORT=xml

  type-check:
    needs: [unit-tests]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Conda environment with Micromamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: environment.yml
        environment-name: DEVELOP
        channels: conda-forge
        cache-env: true
        extra-specs: |
          python=3.10
    - name: Install package
      run: |
        python -m pip install --no-deps -e .
    - name: Run code quality checks
      run: |
        make type-check

  docs-build:
    needs: [unit-tests]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Conda environment with Micromamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: environment.yml
        environment-name: DEVELOP
        channels: conda-forge
        cache-env: true
        extra-specs: |
          python=3.10
    - name: Install package
      run: |
        python -m pip install --no-deps -e .
    - name: Build documentation
      run: |
        make docs-build

  integration-tests:
    needs: [unit-tests]
    runs-on: ubuntu-latest
    if: needs.unit-tests.outputs.run_integration_tests == 'true'

    strategy:
      matrix:
        include:
        - python-version: '3.10'
          extra: -integration

    steps:
    - uses: actions/checkout@v3
    - name: Install Conda environment with Micromamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: environment${{ '{{ matrix.extra }}' }}.yml
        environment-name: DEVELOP${{ '{{ matrix.extra }}' }}
        channels: conda-forge
        cache-env: true
        extra-specs: |
          python=${{ '{{ matrix.python-version }}' }}
    - name: Install package
      run: |
        python -m pip install --no-deps -e .
    - name: Run tests
      run: |
        make unit-tests COV_REPORT=xml

  distribution:
    runs-on: ubuntu-latest
    needs: [integration-tests, type-check, docs-build]

    steps:
    - uses: actions/checkout@v3
    - name: Install packages
      run: |
        $CONDA/bin/python -m pip install build twine
    - name: Build distributions
      run: |
        $CONDA/bin/python -m build
    - name: Check wheels
      run: |
        cd dist || exit
        $CONDA/bin/python -m pip install {{ cookiecutter.project_slug }}*.whl || exit
        $CONDA/bin/python -m twine check * || exit
        $CONDA/bin/python -c "import {{ cookiecutter.project_slug }}"
    - name: Publish a Python distribution to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ '{{ secrets.PYPI_API_TOKEN }}' }}
