name: on-push

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ '{{ github.workflow }}' }}-${{ '{{ github.ref }}' }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: 3.x
    - uses: pre-commit/action@v3.0.1

# Install package, Test, Build docs
  test-package:
    runs-on: ubuntu-latest
    needs: [pre-commit]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: 3.x
    - name: Install cruft
      run: pip3 install cruft
    - name: Create my-package
      run: cruft create . --output-dir .. -y
    - name: Install Conda environment with Micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: ../{{ cookiecutter.project_name }}/ci/environment-ci.yml
        environment-name: {{ cookiecutter.project_slug }}-env
        cache-environment: true
        create-args: >-
          python=3.11
    - name: Test my-package
      run: |
        cd ../my-package || exit
        git init || exit
        git add . || exit
        pip install -e . || exit
        make || exit
        make docs-build || exit
